<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM Test Automation Suite">
<listeners>
		<listener class-name="com.freecrm.extentreport.ExtentReportListener" />
	</listeners>



  <test name="FreeCRM Test Cases">
    <classes>
      <class name="com.freecrm.tests.LoginPageTest"/>
      <class name="com.freecrm.tests.HomePageTest"/>
      <class name="com.freecrm.tests.ContactsPageTest"/>
    </classes>
  </test> <!-- FreeCRM Test Cases -->
</suite> <!-- FreeCRM Test Automation Suite -->
